*{
  box-sizing: border-box;
}

.App {
  display: flex;
}

.big-container {
  border: 1px solid rgb(216, 241, 241);
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}

p {
  margin: 0;
}

.value {
  color: rgb(74, 7, 138);
}

.value-reset {
  color: red;
}


button {
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: rgb(40, 0, 77);
  background-color: rgb(144, 144, 197);
  min-width: 70px;
}

button:disabled {
  opacity: 0.5;
}

.buttpn-rest {
  background-color: rgb(65, 156, 106);
}

.buttpn-recet {
  background-color: rgb(221, 120, 204);
}

.container {
  border: 1px solid rgb(216, 241, 241);
  margin: 10px;
  border-radius: 5px;
}

.container span {
  display: flex;
  flex-direction: column;
}

input{
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 100px;
  margin: 5px;
}

.erorr {
  /* background-color: rgb(85, 38, 77); */
  border: none;
  outline: 2px rgb(218, 7, 7) solid;
}

.erorrtrur {
  background-color: rgb(195, 195, 236);
}